# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_llvm
aiohttp=3.8.1=pypi_0
aiosignal=1.2.0=pypi_0
alembic=1.7.5=pypi_0
altair=4.2.0=pypi_0
anyio=3.4.0=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
argparse=1.4.0=pypi_0
astor=0.8.1=pypi_0
async-generator=1.10=pypi_0
async-timeout=4.0.2=pypi_0
attrs=21.2.0=pypi_0
babel=2.9.1=pypi_0
backcall=0.2.0=pypi_0
base58=2.1.1=pypi_0
batchgenerators=0.23=pypi_0
blas=2.112=mkl
blas-devel=3.9.0=12_linux64_mkl
bleach=4.1.0=pypi_0
blinker=1.4=pypi_0
bokeh-root-cmd=0.1.2=pypi_0
brotli=1.0.9=pypi_0
brotlipy=0.7.0=py39h3811e60_1001
bzip2=1.0.8=h7f98852_4
c-ares=1.17.2=h7f98852_0
ca-certificates=2021.10.8=ha878542_0
cachetools=5.0.0=pypi_0
cdsdashboards=0.6.0=pypi_0
certifi=2021.10.8=py39hf3d152e_1
certipy=0.1.3=pypi_0
cffi=1.14.6=py39h4bc2ebd_1
chardet=4.0.0=py39hf3d152e_1
charset-normalizer=2.0.0=pyhd8ed1ab_0
click=7.1.2=pypi_0
colorama=0.4.4=pyh9f0ad1d_0
conda=4.11.0=py39hf3d152e_0
conda-package-handling=1.7.3=py39h3811e60_0
cryptography=3.4.8=py39hbca0aa6_0
cudatoolkit=11.3.1=ha36c431_9
cycler=0.11.0=pypi_0
dash=2.0.0=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
debugpy=1.5.1=pypi_0
decorator=5.1.0=pypi_0
defusedxml=0.7.1=pypi_0
dicom2nifti=2.3.0=pypi_0
entrypoints=0.3=pypi_0
ffmpeg=4.3=hf484d3e_0
flask=2.0.2=pypi_0
flask-compress=1.10.1=pypi_0
fonttools=4.28.5=pypi_0
freetype=2.10.4=h0708190_1
frozenlist=1.2.0=pypi_0
future=0.18.2=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.24=pypi_0
gmp=6.2.1=h58526e2_0
gnutls=3.6.13=h85f3911_1
greenlet=1.1.2=pypi_0
htbuilder=0.6.0=pypi_0
icu=68.1=h58526e2_0
idna=3.1=pyhd3deb0d_0
imageio=2.13.5=pypi_0
iniconfig=1.1.1=pypi_0
ipycanvas=0.10.2=pypi_0
ipykernel=6.6.0=pypi_0
ipython=7.30.1=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.6.5=pypi_0
iteration-utilities=0.11.0=pypi_0
itsdangerous=2.0.1=pypi_0
jbig=2.1=h7f98852_2003
jedi=0.18.1=pypi_0
jhsingle-native-proxy=0.8.0=pypi_0
jinja2=3.0.3=pypi_0
joblib=1.1.0=pypi_0
jpeg=9d=h36c2ea0_0
json5=0.9.6=pypi_0
jsonschema=4.3.2=pypi_0
jupyter-client=7.1.0=pypi_0
jupyter-core=4.9.1=pypi_0
jupyter-resource-usage=0.6.1=pypi_0
jupyter-server=1.13.1=pypi_0
jupyter-telemetry=0.1.0=pypi_0
jupyterhub=1.5.0=pypi_0
jupyterlab=3.2.5=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-server=2.10.1=pypi_0
jupyterlab-widgets=1.0.2=pypi_0
kiwisolver=1.3.2=pypi_0
krb5=1.19.2=hcc1bbae_2
lame=3.100=h7f98852_1001
lcms2=2.12=hddcbb42_0
ld_impl_linux-64=2.36.1=hea4e1c9_2
lerc=3.0=h9c3ff4c_0
libarchive=3.5.2=hccf745f_1
libblas=3.9.0=12_linux64_mkl
libcblas=3.9.0=12_linux64_mkl
libcurl=7.79.1=h2574ce0_1
libdeflate=1.8=h7f98852_0
libedit=3.1.20191231=he28a2e2_2
libev=4.33=h516909a_1
libffi=3.4.2=h9c3ff4c_4
libgcc-ng=11.2.0=h1d223b6_11
libgfortran-ng=11.2.0=h69a702a_11
libgfortran5=11.2.0=h5c6108e_11
libgomp=11.2.0=h1d223b6_11
libiconv=1.16=h516909a_0
liblapack=3.9.0=12_linux64_mkl
liblapacke=3.9.0=12_linux64_mkl
libnghttp2=1.43.0=h812cca2_1
libpng=1.6.37=h21135ba_2
libsolv=0.7.19=h780b84a_5
libssh2=1.10.0=ha56f1ee_2
libstdcxx-ng=11.2.0=he4da1e4_11
libtiff=4.3.0=h6f004c6_2
libuv=1.42.0=h7f98852_0
libwebp-base=1.2.1=h7f98852_0
libxml2=2.9.12=h72842e0_0
libzlib=1.2.11=h36c2ea0_1013
linecache2=1.0.0=pypi_0
llvm-openmp=12.0.1=h4bd325d_1
lz4-c=1.9.3=h9c3ff4c_1
lzo=2.10=h516909a_1000
mako=1.1.6=pypi_0
mamba=0.16.0=py39h951de11_0
markupsafe=2.0.1=pypi_0
matplotlib=3.5.1=pypi_0
matplotlib-inline=0.1.3=pypi_0
medpy=0.4.0=pypi_0
mistune=0.8.4=pypi_0
mkl=2021.4.0=h8d4b97c_729
mkl-devel=2021.4.0=ha770c72_730
mkl-include=2021.4.0=h8d4b97c_729
multidict=5.2.0=pypi_0
nbclassic=0.3.4=pypi_0
nbclient=0.5.9=pypi_0
nbconvert=6.3.0=pypi_0
nbformat=5.1.3=pypi_0
nbgitpuller=1.0.2=pypi_0
ncurses=6.2=h58526e2_4
nest-asyncio=1.5.4=pypi_0
nettle=3.6=he412f7d_0
networkx=2.6.3=pypi_0
nibabel=3.2.1=pypi_0
nnunet=1.7.0=pypi_0
notebook=6.4.6=pypi_0
nteract-on-jupyter=2.1.3=pypi_0
numpy=1.22.0=py39h91f2184_0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyh9f0ad1d_1
openh264=2.1.1=h780b84a_0
openjpeg=2.4.0=hb52868f_1
openssl=1.1.1l=h7f98852_0
packaging=21.3=pypi_0
pamela=1.0.0=pypi_0
pandas=1.3.5=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.0.0=pypi_0
pip=21.3=pyhd8ed1ab_0
plotly=5.5.0=pypi_0
plotlydash-tornado-cmd=0.0.6=pypi_0
pluggy=1.0.0=pypi_0
prometheus-client=0.12.0=pypi_0
prompt-toolkit=3.0.24=pypi_0
protobuf=3.19.1=pypi_0
psutil=5.8.0=pypi_0
ptyprocess=0.7.0=pypi_0
py=1.11.0=pypi_0
pyamg=4.2.1=pypi_0
pyarrow=6.0.1=pypi_0
pycosat=0.6.3=py39h3811e60_1006
pycparser=2.20=pyh9f0ad1d_2
pydeck=0.7.1=pypi_0
pydicom=2.2.2=pypi_0
pygments=2.10.0=pypi_0
pympler=1.0.1=pypi_0
pyopenssl=21.0.0=pyhd8ed1ab_0
pyparsing=3.0.6=pypi_0
pyrsistent=0.18.0=pypi_0
pysocks=1.7.1=py39hf3d152e_3
pytest=6.2.5=pypi_0
python=3.9.7=hb7a2778_3_cpython
python-dateutil=2.8.2=pypi_0
python-json-logger=2.0.2=pypi_0
python_abi=3.9=2_cp39
pytorch=1.10.1=py3.9_cuda11.3_cudnn8.2.0_0
pytorch-mutex=1.0=cuda
pytz=2021.3=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pywavelets=1.2.0=pypi_0
pyzmq=22.3.0=pypi_0
readline=8.1=h46c0cb4_0
reproc=14.2.3=h7f98852_0
reproc-cpp=14.2.3=h9c3ff4c_0
requests=2.26.0=pyhd8ed1ab_0
rshiny-server-cmd=0.0.2=pypi_0
ruamel-yaml=0.17.19=pypi_0
ruamel-yaml-clib=0.2.6=pypi_0
ruamel_yaml=0.15.80=py39h3811e60_1004
scikit-image=0.19.1=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
send2trash=1.8.0=pypi_0
setuptools=58.2.0=py39hf3d152e_0
simpervisor=0.4=pypi_0
simpleitk=2.1.1=pypi_0
six=1.16.0=pyh6c4a22f_0
sklearn=0.0=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.2.0=pypi_0
sqlalchemy=1.4.29=pypi_0
sqlite=3.36.0=h9cd32fc_2
st-annotated-text=3.0.0=pypi_0
st-execbox=1.0.0=pypi_0
streamlit=1.3.1=pypi_0
streamlit-ace=0.1.1=pypi_0
tbb=2021.5.0=h4bd325d_0
tenacity=8.0.1=pypi_0
terminado=0.12.1=pypi_0
testpath=0.5.0=pypi_0
threadpoolctl=3.0.0=pypi_0
tifffile=2021.11.2=pypi_0
tk=8.6.11=h27826a3_1
toml=0.10.2=pypi_0
toolz=0.11.2=pypi_0
torchaudio=0.10.1=py39_cu113
torchvision=0.11.2=py39_cu113
tornado=6.1=pypi_0
tqdm=4.62.3=pyhd8ed1ab_0
traceback2=1.4.0=pypi_0
traitlets=5.1.1=pypi_0
typing_extensions=4.0.1=pyha770c72_0
tzdata=2021.5=pypi_0
tzlocal=4.1=pypi_0
unittest2=1.1.0=pypi_0
urllib3=1.26.7=pyhd8ed1ab_0
validators=0.18.2=pypi_0
voila=0.3.0=pypi_0
watchdog=2.1.6=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.2.3=pypi_0
websockets=10.1=pypi_0
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pyhd8ed1ab_1
widgetsnbextension=3.5.2=pypi_0
xz=5.2.5=h516909a_1
yaml=0.2.5=h516909a_0
yarl=1.7.2=pypi_0
zlib=1.2.11=h36c2ea0_1013
zstd=1.5.0=ha95c52a_0
